The submitted file should be a zip file, named with your QM student number like "1308xxxxx.zip". It should include: 

1. The well-written coursework report (pdf version).

2. The runnable program (.m files or any other executable codes)  in a subfolder named 'mfiles'.

3. The generated pictures (.jpg) in a subfolder named 'results'.

4. A well-written instruction about the usage of the code. 


Please name the zip files you submit as follows: <your_username>.zip

The zip file should contain the following folders:

? \report - This folder will contain the PDF AND doc version of your report.

? \results - This folder will contain the results you have generated (files) AND a readme file explaining the mapping between these files and the corresponding exercise.

? \code - This folder will contain the source files that you have written AND a readme file explaining how to run the software, including an example.

? \dataset - This folder will contain any additional data that you have used.